.header-public-container{
    background-color: rgba(255, 255, 255, 0.637);
    width: 100%;
    display: flex;
    height: 7vh;

    .element-header{
        height: 100%;
        width: 30%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* body {
    font-family: 'Dancing Script', cursive;
} */

.body-public-container{
    width: 100%;
    height: 93vh;
}



.overview-user-custom{
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    
    .avatar-information-custom{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .avatar-profile-custom{
        width: 30%;
        height: 100%;
        display: flex;
    }
}

.user-information-custom{
    width: 70%;
    height: 90%;
    margin: auto;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.email-is-verify{
    color: green;
}

.email-is-not-verify{
    color: rgb(197, 152, 2);
}

.menu-user-custom{
    background-color: rgba(253, 253, 253, 0.808);
    width: 20%;
    height: 100%;
}
.component-content{
    width: 80%;
    height: 100%;
}

.avatar-user-custom{
    width: 130px !important;
    height: 130px !important;
    margin: auto;
    cursor: pointer;
    margin-top: 10%;
}

.avatar-user-custom:hover{
    filter: brightness(0.7);
}

.avatar-custom:hover{
    filter: brightness(0.7);
}

.options-user-custom{
    width: 100%;
    height: 76.2%;
    .option-custom{
        width: 100%;
        height: 10%;
        padding: 3%;
        padding-left: 10%;
        font-size: 25px;
        align-content: center;
        margin-bottom: 40px;
        cursor: pointer;
        font-weight: bolder;
        font-family: 'Dancing Script', cursive;
    }
    .option-custom:hover{
        background-color: #ffffff;
    }
    .option-choose{
        background: linear-gradient(
            to left,
            #00aeff ,
            #ffffff 10%,
            #ffffff 10%,
            #ffffff 20%
        );
    }
}

.information-areal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 37vh;
    margin-top: 3%;

    .custom-page{
        padding: 20px;
        width: 70%;
        min-width: 300px;
        align-content: center;

        .display-name-custom{
            font-weight: bolder;
            text-align: center;
            font-family: 'Dancing Script', cursive;
            font-size: 200%;
        }
    
        .property-custom{
            font-family: 'Dancing Script', cursive;
            font-weight: bolder;
            color: rgb(0, 81, 255);
            font-size: 150%;
        }
        .line-chart-custom{
            width: 100%;
            height: 100%;
        }
        .edit-btn-custom{
            margin-left: 95%;
            cursor: pointer;
            border-radius: 100%;
            text-align: center;
            font-size: 160%;
        }
        .edit-btn-custom:hover{
            filter: brightness(0.7);
            background-color: rgb(219, 219, 219);
        }
    }

    
}



@media (max-width: 768px) {
    .overview-user-custom {
        width: 90%;
    }
    .user-information-custom {
        width: 90%;
        padding: 2%;
    }
}
